<%= link_to 'Back to questions', controller: 'questions' %>
</br>
<%= flash[:message] %>


<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @question.description %>
</p>
